/* You can add global styles to this file, and also import other style files */
.row {
  padding: 0 !important;
  margin: 0 !important;
}

.ml-2 {
  margin-left: 2%;
}
.mt-2 {
  margin-top: 2%!important;
}
.mb-2 {
  margin-top: 2%!important;
}
.mr-2 {
  margin-right: 2%;
}
.red {
  color: red;
}
